ol {
    list-style: none;
    counter-reset: contador;
}

ol li {
    counter-increment: contador;
}

ol li::before {
    content: "Curso " counter(contador) ") ";
    color: #EC994B;
}

ol li::after {
    content: ".";
}

